body{
text-align: center;
}

h1{
font-size: 30px;
font-family: inherit;
font-weight: 50;
color: aquamarine;
}
#apps{
width: 100%;
height: 800px;
background-color:navy;
}
#games{
width: 100%;
height: 800px;
background-color:navy;
}
#chatbot{
width: 100%;
height: 800px;
background-color:navy;
}
img{
transition: transform.2s
}
img:hover{
transform: scale(0.9)
}
.line{
height: 6px;
background-color: aliceblue;
width: 70px;
margin: 8px auto;
}