#welcome{
background-color: hotpink;
text-align: center;
padding-top: 50px;
padding-bottom: 50px
}
#aboutsection{
background-color:paleturquoise;
text-align: center;
padding-top: 50px;
padding-bottom: 50px
}
.line{
height: 6px;
width: 70px;
margin: 8px auto;
background-color: aqua;
}
.menu{
list-style: none;
font-family: sans-serif;
position: absolute;
top: 10px;
right: 50px;
z-index: 10;
cursor:alias;
}
.links{
float: left;
color:aquamarine;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 9px;
padding-left: 9px;
font-family: serif;
font-size: 20px;
}
img{
height: 200px;
width: 200px;
}
#book{
text-align: center;
background-color: palegreen;
}